.login h1 {
  text-align: center; }

.fancy {
  text-align: center; }

.fancy span {
  display: inline-block;
  position: relative; }

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  border-top: 1px solid #333;
  width: 100%;
  top: 50%; }

.fancy span:before {
  right: 100%;
  margin-right: 15px; }

.fancy span:after {
  left: 100%;
  margin-left: 15px; }

.login-form {
  text-align: right;
  max-width: 300px; }

.MuiFormControl-root-1 {
  width: 100%; }
