@import url('https://fonts.googleapis.com/css?family=Roboto|Lato');
@import "bulma/sass/utilities/all";
@import "bulma/sass/grid/all";
@import "bulma/sass/layout/hero";

$gutter: 8px; 

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.normal-vert-margin {
  margin-top: $gutter * 2;
  margin-bottom: $gutter;
}
